<div id="intro-modal" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <p>Congratulations!</p>
            <p>You've filed the paperwork, called in a few favors, and are now ready to embark on your journey as a professional wreslting promoter!</p>
            <p>With $100 to your name and some contacts in the biz, it's time to book an event and take the first steps toward your professional wrestling empire.</p>
            <p>Enter in your enterprise's name to get started!</p>
            <div class="input-container">
                <input id="name-input" type="text" placeholder="Ex: Super Awesome Wrestling Co." maxlength="64" (input)="inputListener($event.target.value)">
                <button (click)="suggestName()">Suggest</button>
            </div>
        </div>
        <div class="modal-footer">
            <button id="start-btn" disabled>Start</button>
        </div>
    </div>
</div>