.calendar-wrapper {
    overflow: auto;
    height: 50vh;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.year-wrapper {
    margin: 10px;
}

.year-label-container {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgb(51, 51, 51);
    background-color: #fff;
}

.month-wrapper {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 10px 15px rgb(51, 51, 51);
    padding-top: 1em;
    border-radius: 5px;
}

.week-wrapper {
    border: 1px solid #ccc;
    padding: 0px 20px;
    margin-bottom: 1em;
}

.week-label {
    float: right;
}

.day {
    width: 100%;
    border: 1px solid #ccc;
}

.add-event-btn {
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.effect8 {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect8:before,
.effect8:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.effect8:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}