.calendar-wrapper {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.year-wrapper {
    margin: 10px;
}

.year-label-container {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgb(51, 51, 51);
    background-color: #fff;
}

.year-label {
    font-size: 36px;
}

.month-wrapper {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 10px 15px rgb(51, 51, 51);
    padding-top: 1em;
    border-radius: 5px;
}

.month-label {
    font-size: 28px;
}

.week-wrapper {
    border: 1px solid #ccc;
    padding: 0px 20px;
    margin-bottom: 1em;
}

.week-label {
    float: right;
}

.day {
    width: 100%;
    border: 1px solid #ccc;
}

.day-label {
    margin-left: 1em;
    font-size: 16px;
}

.add-event-btn {
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.current {
    background-color: aqua;
}

.past {
    background-color: #eee;
    color: #ccc;
}