* {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    max-height: 100vh;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.flex-fill {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.component-wrapper {
    height: 60vh;
    overflow: auto;
}